@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  -webkit-overflow-scrolling: touch;
  font-family: "Roboto", Helvetica, sans-serif;
}
